* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    overflow-x: hidden;
    background: rgba(243, 223, 243, 0.3);
}

header{
    padding: 12px;
    width: 100%;
}

.navbar {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 12px;
    position: fixed;
    top: 0;
}

.navbar h1{
    margin-left: 150px;
    color: rgb(243, 121, 162);
}
nav ul li {
    display: inline;
    margin:auto 20px;
    list-style-type: none;
}

nav {
    margin-right: 150px;
}

nav ul li a {
    text-decoration: none;
    text-transform: uppercase;
    color: plum;
    font-weight: 800;
}

#section1 {
    width: 90%;
    margin-left: 150px;
    height: 100vh;
    margin-top: 7%;
}

.menu-icon  {
    margin-right: 200px;
}
.row {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin: 3% auto;
}

.col-1{
    flex-basis: 30%;
}

.col-1 button {
    cursor: pointer;
    width: 140px;
    padding: 11px;
    background: linear-gradient(240deg, rgb(245, 32, 245),rgb(28, 166, 212));
    border: none;
    color: #fff;
    border-radius: 20px;
    
}
.col-1 button:hover{
    animation-name: effect;
    animation-duration: 2s; 
    animation-iteration-count: infinite;
    animation-delay: 0.5s;
}

.col-2{
    flex-basis: 50%;
    text-align: right;
    margin-left: 130px;
}


.background-circle {
    margin-top: 50px;
    width: 470px;
    height: 475px;
    background:linear-gradient(175deg, rgb(28, 166, 212),rgb(245, 116, 137));
    position: relative;
    border-radius: 50%;
    margin-right: 200px;
    animation-name: effect;
    animation-duration: 2s; 
    animation-iteration-count: infinite;
    animation-delay: 0.5s;
    
}
@keyframes effect {
    0%{
        background:linear-gradient(rgb(28, 166, 212),rgb(245, 116, 137));
    }
    
    100%{
        background:linear-gradient(rgb(245, 116, 137),rgb(28, 166, 212));
    }
}
@keyframes effect2 {
    0%{
        background:linear-gradient(175deg,rgb(245, 61, 245), rgb(28, 166, 212));
    }
    
    100%{
        background:linear-gradient(rgb(28, 166, 212),rgb(245, 61, 245));
    }
}

.col-2 img{
    width: 400px;
    height: 520px;
    transform: translateY(-12%);
    
}

.col-1-heading h1{
    font-size: 50px;
    margin: 20px auto;
}

.col-1-heading p{
    font-size: 14px;
    line-height: 1.6;
}


/*-------- SECTION 2---------  */

#section2 {
    width: 100%;
    height: auto;
}

.row2 {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin:auto;
    margin-top: 22%;
}
.row2-col-1{
    flex-basis: 50%;
    text-align: right;
}
.background-circle1{
    margin-top: 50;
    width: 470px;
    height: 475px;
    background:linear-gradient(175deg,rgb(245, 61, 245), rgb(28, 166, 212));
    position: relative;
    border-radius: 50%;
    margin: 0;
    margin-left: 130px;
    animation-name: effect2;
    animation-duration: 2s; 
    animation-iteration-count: infinite;
    animation-delay: 0.5s;

}
.row2-col-2{
    flex-basis: 30%;
    margin:0;
    text-align: left;
    margin-right: 250px;
}
.row2-col-1 img{
    width: 500px;
    height: 690px;
    transform: translate(10%,-32%);
}
.row2-col-2-heading h1{
    font-size: 24px;
    margin: 20px auto;
}
.row2-col-2-heading p{
    margin-bottom: 20px;
}
.arrow a{
    color: blueviolet;
    font-size: 20px;
}

/*-------- SECTION 3---------  */
#section3{
    width: 100%;
    margin: 10% auto ;
    padding-bottom: 5%;
}
.sect3-row{
    text-align: center;
    margin-bottom: 100px;
}

.Service-desc {
    width: 250px;
    height: 300px;
    box-shadow: 2px 2px 2px 2px #000;
    border-radius: 10px;
    display: inline-block;
    margin: 12px;
}
.subscriber-form{
    width: 40%;
    height: 100px;
    margin: auto;
}

.sect3-heading h2{
    text-align: center;
    font-size: 50px;
    padding: 14px;
    margin-bottom: 5%;
    color: rgb(243, 121, 162);
}


.Service-desc h3 {
    padding: 15px;
    font-size: 24px;
}
.Service-desc p{
    padding: 15px;
    line-height: 1.7;
}
.Service-desc .arrow{
    padding: 15px;
}
.serv-icon{
    margin-top: 25px;
    margin-left: 15px;
    width: 60px;
    height: 60px;
    background:linear-gradient(175deg,rgb(245, 116, 137), rgb(28, 166, 212));
    border-radius: 50%;
}
.serv-icon .fa{
    text-align: center;
    margin: 13px 13px;
}

.subscriber-form h2{
    color: rgb(243, 121, 162);
    padding: 5px;
    font-size: 34px;
}
.subscriber-form p{
    color: purple;
    padding: 5px;
    font-size: 24px;
}
form{
    padding: 5px;
}

input {
    padding: 10px;
    border-radius: 10px;
    outline: none;
    border: 2px solid palevioletred;
    margin: 5px;
}
button{
    padding: 10px;
    border-radius: 10px;
    background-color: palevioletred;
    border: none;
    color: whitesmoke;
    cursor: pointer;
}
/*-------- SECTION 4---------  */

#section4 {
    margin: 10% auto;
    padding-bottom: 5%;
    width: 100%;
    height: auto;
}

#section4 .row2 {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin: 3% auto;
}
#section4 .row2-col-1{
    flex-basis: 50%;
    text-align: left;
}
#section4 .background-circle1{
    margin-top: 50px;
    width: 500px;
    height: 475px;
    background:linear-gradient(175deg,rgb(245, 116, 137), rgb(28, 166, 212));
    position: relative;
    border-radius: 50%;
    margin: 0;
    margin-right: 130px;
    animation-name: effect;
    animation-duration: 2s; 
    animation-iteration-count: infinite;
    animation-delay: 0.5s;
}
#section4 .row2-col-2{
    flex-basis: 30%;
    margin:0;
    text-align: left;
    margin-left: 250px;
}
#section4 .row2-col-1 img{
    width: 350px;
    height: 500px;
    transform: translate(10%,-12%);
}

/*-------- SECTION 5---------  */
.brand-ptn img{
    width: 200px;
    height: 100px;
}
.brand-ptn-container h2{
    text-align: center;
    padding: 15px;
    color: rgb(243, 121, 162);
}
.brand-ptn-wrap{
    display: flex;
    justify-content: space-around;
}
#section5 {
    width: 100%;
    margin-bottom: 2%;
    padding-bottom: 3%;
    height: auto;
}

#section5 .row2 {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin: 3% auto;
}
#section5 .row2-col-1{
    flex-basis: 50%;
    text-align: right;
}
#section5 .background-circle1{
    margin-top: 50px;
    width: 470px;
    height: 475px;
    background:linear-gradient(175deg,rgb(245, 61, 245), rgb(28, 166, 212));
    position: relative;
    border-radius: 50%;
    margin: 0;
    margin-left: 130px;
}
#section5 .row2-col-2{
    flex-basis: 30%;
    margin:0;
    text-align: left;
    margin-right: 250px;
}
#section5 .row2-col-1 img{
    width: 500px;
    height: 690px;
    transform: translateY(-32%);
}
#section5 .row2-col-2-heading h1{
    font-size: 24px;
    margin: 20px auto;
}
#section5 .row2-col-2-heading p{
    margin-bottom: 20px;
}
.arrow a{
    color: blueviolet;
    font-size: 20px;
}
/*-------- FOOTER---------  */
footer{
    margin: 5% 5%;
    width: 100%;
}
.foot-container{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}
.left-div{
    flex-basis: 20%;
}
.center-div{
    flex-basis: 60%;
} 
.left-div .logo {
    color: rgb(243, 121, 162);
    padding: 7px;
    margin-bottom: 40px;
}
.left-div .social-links {
    color: rgb(243, 121, 162);
    padding: 7px;
}
.left-div .social-links .fa{
    color: blueviolet;
    padding: 7px;
    margin-right: 24px;
}
.center-div{
    display: flex;
    flex-wrap: wrap;
}
.center-div-left{
    flex-basis: 30%;
}
.center-div-left ul {
    list-style-type: none;
}
.center-div-right ul {
    list-style-type: none;
}
.center-div-left ul li {
    padding-bottom: 10px;
}
.center-div-right ul li {
    padding-bottom: 10px;
}
.center-div-left ul li a {
    text-decoration: none;
}
.center-div-right ul li a {
    text-decoration: none;
}
footer p{
    text-align: center;
    color:rgb(243, 121, 162);
    padding: 12px;
}

@media screen and (max-width:770px){
    .navbar h1{
        margin: 0;
    }
    .menu-icon  {
        margin:0;
    }
    nav ul li {
        display:none;
    }
    #section1 {
        width: 100%;
        margin: 0;
    }
    .col-1 button {
        width: 170px;
        padding: 15px;
        border-radius: 30px;
        margin-top: 40px;
    }
    .col-1{
        flex-basis: 100%;
    }
    .col-2{
        flex-basis: 100%;
        margin-left: 100px;
    }
    .background-circle {
        width: 100%;
        margin:auto;
        height: 350px;
        text-align: center;
        margin: 0;
    }
    .col-2 img{
        width: 100%;
        height: 395px;
    }
    
    .col-1-heading p{
        font-size: 16px;
        text-align: left;
        margin-bottom: 50px;
    }

    .col-1-heading h1{
        font-size: 40px;
        margin: 10px auto;
    }
    
    .col-1-heading p{
        font-size: 14px;
        line-height: 1.6;
    }
    
/*-------- SECTION 2---------  */

    #section2 {
        width: 100%;
        margin: 5% auto;
        margin-bottom: 5%;
    } 
    #section2 .row2 {
        margin-top: 100%;
    }

    .subscriber-form{
        width: 100%;
        height: 100px;
        margin: auto;
    }

    .row2-col-1{
        flex-basis: 50%;
        text-align: none;
    }
    .row2-col-2{
        flex-basis: 30%;
        margin:0;
        text-align: none;
        margin-right: 0;
    }
    .background-circle1{
        width: 100%;
        margin: 0;
    }
    .row2-col-2-heading{
        padding: 5px;
    }
    
    .row2-col-1 img{
        width: 100%;
    }
    /*-------- SECTION 3---------  */
    #section3{
        width: 95%;
        margin: 5% auto ;
        padding-bottom: 2%;
    }
    
    .Service-desc {
        width: 80%;
        height: 350px;
    }
    .Service-desc .arrow a{
        padding: 10px;
    }

    /*-------- SECTION 4---------  */
    #section4 {
        width: 100%;
        margin: 20% auto;
    } 

    #section4 .row2-col-1{
        flex-basis: 50%;
        text-align: none;
    }
    #section4 .row2-col-2{
        flex-basis: 30%;
        margin:0;
        text-align: none;
        margin-left: 0;
    }
    #section4 .background-circle1{
        width: 90%;
        margin: 0;
    }
    
    #section4 .row2-col-1 img{
        width: 100%;
    }
    #section4 .row2-col-2-heading {
        padding: 5px;
    }

    /*-------- SECTION 5---------  */
    #section5 {
        width: 100%;
        margin: 20% auto;
    } 

    #section5 .row2-col-1{
        flex-basis: 50%;
        text-align: none;
    }
    #section5 .row2-col-2{
        flex-basis: 30%;
        margin:0;
        text-align: none;
        margin-right: 0;
    }
    #section5 .background-circle1{
        width: 90%;
        margin: 0;
    }
    
    #section5 .row2-col-1 img{
        width: 100%;
    }
    #section5 .row2-col-2-heading {
        padding: 5px;
    }

    .brand-ptn img{
        width: 100%;
        height: 70px;
        margin: auto;
    }
    .brand-ptn-container h2{
        font-size: 20px;
    }
    .brand-ptn-container{
        width: 100%;
    }
    footer{
        margin: 2%;
        width: 95%;
    }
    .center-div-left .center-div-right{
        margin: 10px;
    }
}
